<launch>
  <arg name="mobile_base_port" default="/dev/ttyACM0" />
  <arg name="rviz" default="false" />
  <arg name="joy" default="false" />
  <arg name="joystick" default="/dev/input/js0" />
  <arg name="stereo" default="false" />

  <param name="robot_description" textfile="$(find navbot)/urdf/navbot.urdf" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publister" />


  <include file="$(find mobile_base)/launch/mobile_base.launch" >
    <arg name="mobile_base_port" value="$(arg mobile_base_port)" />
  </include>

  <include file="$(find head_unit)/launch/head_unit.launch" />

</launch>
