<launch>

   <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
     <arg name="publish_tf" value="true" />
   </include>

   <group ns="head_unit">
     <node pkg="nodelet" type="nodelet" name="data_throttle" args="load rtabmap_ros/data_throttle camera_nodelet_manager" output="screen">
       <param name="rate" type="double" value="$(arg rate)"/>
       <param name="decimation" type="int" value="$(arg decimation)"/>

       <remap from="kinect2/sd/image_color_rect"       to="rgb/image_rect_color"/>
       <remap from="kinect2/sd/image_depth"     to="depth_registered/image_raw"/>
       <remap from="kinect2/sd/camera_info" to="rgb/camera_info"/>

       <remap from="rgb/image_out"       to="data_throttled_image"/>
       <remap from="depth/image_out"     to="data_throttled_image_depth"/>
       <remap from="rgb/camera_info_out" to="data_throttled_camera_info"/>
     </node>
   </group>    

   <node name="imu_throttler" type="throttle" pkg="topic_tools" args="messages /imu 5 /imu_throttled"/>

   <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
      <param name="frequency" value="10"/>
      <param name="sensor_timeout" value="0.2"/>
      <param name="two_d_mode" value="true"/>
      <remap from="odometry/filtered" to="/robot_localization/odom_combined"/>

      <param name="odom_frame" value="odom"/>
      <param name="base_link_frame" value="base_link"/>
      <param name="world_frame" value="odom"/>
      <param name="transform_time_offset" value="0.0"/>

      <param name="odom0" value="odom"/>
      <param name="imu0" value="imu_throttled"/>
      <rosparam param="odom0_config">[true, true, false,
                                      false, false, true,
                                      true,  true, false,
                                      false, false, true,
                                      false, false, false]</rosparam>
      <rosparam param="imu0_config">[true, true, false,
                                     false,  false,  true,
                                     false, false, false,
                                     false,  false,  false,
                                     false,  false,  false]</rosparam>

      <param name="odom0_differential" value="false"/>
      <param name="imu0_differential" value="true"/>
      <param name="odom0_relative" value="false"/>
      <param name="imu0_relative" value="true"/>
      <param name="imu0_remove_gravitational_acceleration" value="true"/>
      <param name="print_diagnostics" value="true"/>
    </node>

</launch>

