<launch>
  <node pkg="nodelet" type="nodelet" args="manager" name="rgbd_cloud_manager" output="screen" />

  <!-- May need to convert from mm to m and downsample.  See gist.github.com/bhaskara/2400165 -->

  <node pkg="nodelet" type="nodelet" name="cloudify" args="load depth_image_proc/point_cloud_xyzrgb rgbd_cloud_manager --no-bond">

    <remap to="rgb/image_rect_color" from="/left/image_rect_color" />
    <remap to="rgb/camera_info" from="left/camera_info" />
  </node>

</launch>
